absl-py==2.0.0
aiohttp
aiosignal
amqp==5.2.0
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-project
appdirs==1.4.4
archspec
asgiref==3.7.2
astroid==3.0.3
astunparse==1.6.3
asyncio==3.4.3
attrs
autopep8==2.0.4
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
beautifulsoup4
billiard==4.2.0
bleach==6.1.0
blessed==1.20.0
blis==0.7.11
boltons
Brotli
cachetools==5.3.2
catalogue==2.0.10
celery==5.3.6
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
cloudpickle
clyent==1.2.2
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
confection==0.1.4
contexttimer==0.3.3
contourpy==1.2.0
cryptography
cssselect==1.2.0
ctypes-window-info==0.15
cycler==0.12.1
cymem==2.0.8
dask
decorator==5.1.1
defusedxml
dicttoxml==1.7.16
dill==0.3.8
distro
Django==5.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-rest-framework==0.1.0
django-sslserver==0.22
djangorestframework==3.14.0
docutils==0.20.1
entrypoints
fastjsonschema
filelock
flatbuffers==23.5.26
fonttools==4.47.0
frozenlist
fsspec
future
gast==0.5.4
geocoder==1.38.1
geographiclib==2.0
geoip2==4.8.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.25.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.60.0
h11==0.14.0
h5py==3.10.0
humanfriendly==10.0
idna
imbalanced-learn
imblearn==0.0
importlib-metadata
intake
ip2geotools==0.1.6
IP2Location==8.10.2
isort==5.13.2
jaraco.classes==3.3.1
jeepney==0.8.0
Jinja2
joblib==1.3.2
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter_core
keras==2.14.0
keyring==24.3.0
kiwisolver==1.4.5
kombu==5.3.4
langcodes==3.3.0
lazy-object-proxy==1.10.0
libarchive-c
libclang==16.0.6
libmambapy
locket
lxml==4.9.4
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.8.2
maxminddb==2.5.2
mccabe==0.7.0
mdurl==0.1.2
menuinst
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools
msgpack
multidict
murmurhash==1.0.10
nbformat
nh3==0.2.15
node==1.2.1
numpy
nvm==1.0.21
oauthlib==3.2.2
odict==1.9.0
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging
pandas==2.1.4
partd
Pillow==10.1.0
pip-review==1.3.0
pkginfo
platformdirs
pluggy
plumber==1.7
preshed==3.0.9
protobuf==4.23.4
psutil
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycosat
pycparser
Pygments==2.17.2
pylint==3.0.3
pyOpenSSL
pyparsing==3.1.1
pyquery==2.0.0
pyshark==0.6
PySocks
python-dateutil
python-iptables==1.0.1
python-snappy
pytz
PyYAML
ratelim==0.1.6
readme-renderer==42.0
referencing
requests
requests-oauthlib==1.3.1
requests-toolbelt
rfc3986==2.0.0
rich==13.7.0
rpds-py
rsa==4.9
ruamel-yaml-conda
ruamel.yaml
scikit-learn
scipy
SecretStorage==3.3.3
selenium==4.17.2
six
smmap==5.0.1
smote==0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
statistics==1.0.3.5
taskkill==0.10
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
thinc==8.2.1
threadpoolctl==3.2.0
tomlkit==0.12.3
toolz
tornado
tqdm
traitlets
trio==0.24.0
trio-websocket==0.11.1
truststore
twine==4.0.2
typed-ast==1.5.5
typer==0.9.0
typing==3.7.4.3
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
urllib3
vine==5.1.0
wasabi==1.1.2
weasel==0.3.4
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
yarl
zipp
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.lifecycleevent==5.0
zope.proxy==5.1
zstandard
